@model NavBarViewModel


<!-- header navigation area start -->
<div class="header-nav-area d-none d-lg-block sticky-nav">
    <div class="container">
        <div class="header-nav">
            <div class="main-menu position-relative">
                <ul>
                    @foreach (NavBarItem parent in Model.NavBarItems)
                    {
                        if (parent.Childrens.Count==0){
                            <li><a href="@parent.navigate.Url">@parent.navigate.Name</a></li>
                        }
                        else if (parent.Childrens.Count <= 5){
                            <li class="dropdown">
                                <a href="@parent.navigate.Url">@parent.navigate.Name<i class="fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                @foreach (NavBarItem ChildL1 in parent.Childrens)
                                {
                                    if (ChildL1.Childrens.Count==0)
                                    {
                                        <li><a href="@parent.navigate.Url">@parent.navigate.Name</a></li> 
                                    }
                                    else if (ChildL1.Childrens.Count == 0)
                                    {
                                        <li class="dropdown position-static">
                                            <a href="@ChildL1.navigate.Url">
                                                @ChildL1.navigate.Name
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <ul class="sub-menu sub-menu-2">
                                            @foreach (var ChildL2 in ChildL1.Childrens)
                                            {
                                                <li><a href="@ChildL2.navigate.Url">@ChildL2.navigate.Name</a></li>
                                            }

                                            </ul>
                                        </li>
                                    }
                                }
                                </ul>
                            </li>

                        }
                        else //all children to 4 column
                        {
                            
                            <li class="dropdown position-static">
                                <a href="@parent.navigate.Url">
                                    @parent.navigate.Name<i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="mega-menu d-block">
                                    <li class="d-flex">
                                        

                                        @for (int i = 0; i < 4; i++){

                                            if (i == 3){
                                                <ul class="d-block p-0 border-0">
                                                    @for (int j = i * (parent.Childrens.Count / 4); j < j + (parent.Childrens.Count / 4); j++)
                                                    {
                                                        NavBarItem ChildL1 = parent.Childrens[j];
                                                        <li><a href="@ChildL1.navigate.Url">@ChildL1.navigate.Name</a></li>
                                                    }
                                                </ul>
                                            }
                                            else{
                                                <ul class="d-block">
                                                    @for (int j = i * (parent.Childrens.Count / 4); j < j + (parent.Childrens.Count / 4); j++)
                                                    {
                                                        NavBarItem ChildL1 = parent.Childrens[j];
                                                        <li><a href="@ChildL1.navigate.Url">@ChildL1.navigate.Name</a></li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    
                                    </li>
                                </ul>
                            </li>

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- header navigation area end -->