@model NavBarViewModel

<div class="offcanvas-menu mb-4">

    <ul>
        @foreach (NavBarItem parent in Model.NavBarItems)
        {
            if (parent.Childrens.Count == 0)
            {
                <li><a href="@parent.navigate.Url">@parent.navigate.Name</a></li>
            }
            else if (parent.Childrens.Count <= 9)
            {
                <li>
                    <a href="@parent.navigate.Url">@parent.navigate.Name<i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        @foreach (NavBarItem ChildL1 in parent.Childrens)
                        {
                            if (ChildL1.Childrens.Count == 0)
                            {
                                <li><a href="@parent.navigate.Url">@parent.navigate.Name</a></li>
                            }
                            else if (ChildL1.Childrens.Count == 0)
                            {
                                <li>
                                    <a href="@ChildL1.navigate.Url">
                                        @ChildL1.navigate.Name
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        @foreach (var ChildL2 in ChildL1.Childrens)
                                        {
                                            <li><a href="@ChildL2.navigate.Url">@ChildL2.navigate.Name</a></li>
                                        }

                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>

            }
            else //all children to 4 column
            {
                <li>
                    <a href="@parent.navigate.Url">
                        @parent.navigate.Name<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            @for (int i = 0; i < 4; i++)
                            {
                                <ul class="sub-menu">
                                    @for (int j = i * (parent.Childrens.Count / 4); j < j + (parent.Childrens.Count / 4); j++)
                                    {
                                        NavBarItem ChildL1 = parent.Childrens[j];
                                        <li><a href="@ChildL1.navigate.Url">@ChildL1.navigate.Name</a></li>
                                    }
                                </ul> 
                            }
                        </li>
                    </ul>
                </li>
            }
        }
    </ul>
</div>