@model ShopCartViewModel

@{
    //1.Add link to single product
    //2.Add remove item without redirect
    //3.Add link to other pages (checkout)

    string link = "single-product/";
}

<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
    <div class="inner">
        <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
        </div>

        <div class="body customScroll">
            @if (Model.shopCart.ListShopItems.Count>0)
            {
                <ul class="minicart-product-list">

                    @foreach (var el in Model.shopCart.ListShopItems)
                    {
                        var tmpLink = link + el.Product.Id;

                        <li>
                            <a href="@tmpLink" class="image"><img src="@el.Product.ProductImages.FirstOrDefault()" alt="@el.Product.ProductImages.FirstOrDefault()"></a>
                            <div class="content">
                                <a href="@tmpLink" class="title">@el.Product.Title</a>
                                <span class="quantity-price">@el.Count x <span class="amount">@el.Product.Price.ToString("c")</span></span>
                                @*<button asp-controller="ShopCardcontroller" asp-action=""></button>*@
                                <a href="a" class="remove">×</a>
                            </div>
                        </li>

                    }

                </ul>
            }
            else
            {
                <p>Your card list empty.</p>
            }
        </div>
        <div class="foot">
            <div class="buttons mt-30px">
                <a asp-controller="ShopCart" asp-action="Index" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
            </div>
        </div>
    </div>
</div>